*
    {
        border: 0px;
        padding: 0px;
        margin: 0px;

    }

body
{
    background-color: rgb(188, 188, 198);

}
.container
{
    
    background-color: grey;
    color: white;
    height: 400px;
    width: 650px;
    border-radius: 25px; 
    justify-content: center; 

}
.contact
{
    
    display: flex;
    flex-direction:row;
    align-content:end;
    justify-content:space-around;
    font-size: small;

    height: 240px;
    
    align-items:center;
      
      
}
.inner
{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content:center;
    
text-align:center;
text-transform: uppercase;
font-size: 40px;
/*  */
h1
{
display: flex;
justify-items:flex-end;

}

}
h2
{
    color: rgb(198, 195, 195);
    font-size: 30px;
     
}

img{
    display:flexbox;

    justify-self: center;
    width: 200px;
    border-radius: 25px;
    text-align: center;
    align-items: center;
}