/* On each of the sections, using css pseudoclasses and gradient backgrounds apply the following:

1. the first section have the Nigeria flag
2. section section is japan flag
3. third section is gambia
4. fourth is gabon
5. fifth is france
6. sixth is belgium
7. seven is germany
8. Ghana
9. China

Be sure you are using the appropriate colors for the countries.

Use pseudoclasses selector only. */


*{
    margin: 0;
}

section{
    width: 80%;
    height: 400px;
    margin: 25px auto;
    border: 10px solid blue;
}

section:nth-of-type(1){
    background-image: linear-gradient(90deg, green 33%, white 33%, white 67%, green 67%);
}
section:nth-of-type(2){
    background-image: radial-gradient(circle, red 20%, white 15%)
}
section:nth-of-type(3){
    background-image: linear-gradient(180deg, red 33%, white 33%, white 40%, blue 40%, blue 67%, white 67%, white 74%, green 74%);
}
section:nth-of-type(4){
    background-image: linear-gradient(180deg, green 33%, yellow 33%, yellow 67%, blue 67%);
}

section:nth-of-type(5){
    background-image: linear-gradient(90deg, blue 33%, white 33%, white 67%, red 67%);
}

section:nth-of-type(6){
    background-image: linear-gradient(90deg, black 33%, yellow 33%, yellow 67%, red 67%);
}


section:nth-of-type(7){
    background-image: linear-gradient(180deg, black 33%, red 33%, red 67%, gold 67%);
}
section:nth-of-type(8){
    
    background-image: url(./star.png),
    linear-gradient(180deg, red 33%, yellow 33%, yellow 67%, green 67%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px, 100%;
}